body {
	background-color: #000000;
}

* {
	padding: 0px;
	margin: 0px;
}

ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#all {
	width:1000px;
	margin: auto;
	position: relative;
	
}

#content {
	background-color: #FFFFFF;
	width: 780px;
	margin-left: 200px;
	padding: 10px;
}

#left {
	float: left;
	width: 200px;
}

#left ul {
	margin-left: 10px;
}
#left ul li {
	margin-top: 6px;
}
#left ul li a, #left ul li a:hover, #left ul li a:visited  {
	color: #FFFFFF;
	text-decoration: none;
}

#footer {
	width: 100%;
	height: 50px;
	background-color: #8F8F8F;
}

div#banner {
	height: 90px;
}

div#navbar {
	height: 30px;
}

#navbar ul {
	display: block;
	height: 30px;
	background-image: url('/templates/fpp/images/menu.png');
}

#navbar ul li  a {
	float: left;
	display: block;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #8F8F8F;
	padding: 0px 20px;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#content div.blog div.item {
	margin-bottom: 30px;
}

#footer ul.menu {
	margin: auto;
	text-align: center;
}

#footer ul.menu li {
	display: inline-block;
	margin: 0px 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#footer ul.menu li a, #footer ul.menu li a:hover, #footer ul.menu li a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

div.item-page .product_info {
	float: right;
	clear: none;
	border: 2px solid #650808;
	padding: 5px;
	margin-left: 5px;
}

div.categories-list .product_info {
	display: none;
}

a.btn, a.btn:hover, a.btn:visited {
	text-decoration: none;
}

.cartbtn {
	background-image: url("/templates/fpp/images/btn.jpg");
	border: none;
	display: block;
	height: 20px;
	width: 136px;
	line-height: 20px;
	padding: 0px 20px;
	margin: 5px auto;
	margin-bottom: 0px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}
