
body {
    background: #BBBDBF url("images/full_gradient.png") repeat-y center;
    color: #000;
    margin: 0px;
    font-size: 11px;
    font-family: Lucida Grande, Lucida Sans, Verdana, Arial, sans-serif;
}

.category-module h4 {
	margin: 0px;
}

.navbar .hidden {
	display: none;
}

#header ul.menu {
	margin: 0px;
	margin-top: 15px;
	margin-right: 7px;
}

ul.pagenav, ul.category-module {
	padding: 0px;
}

ul.pagenav li {
	display: inline;
}
ul.pagenav li.pagenav-next {
	float: right;
}

.pagenav li, .article-info li, .category-module li {
	list-style-type: none;
}

.navbar li  {
	display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin: 0px 15px;
    font-size: 16px;
}

div.breadcrumbs {
	padding-left: 8px;
}

div.item-page .product_info {
	float: right;
	clear: none;
	border: 2px solid #650808;
	padding: 5px;
	margin-left: 5px;
}

img.product_image {
	float: left;
}

div.blog .product_info {
	display: none;
}

a.btn, a.btn:hover, a.btn:visited {
	text-decoration: none;
}

.cartbtn {
	background-image: url("/templates/fpp/images/btn.jpg");
	border: none;
	display: block;
	height: 20px;
	width: 136px;
	line-height: 20px;
	padding: 0px 20px;
	margin: 5px auto;
	margin-bottom: 0px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

div.pagination ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

div.pagination ul li {
	display: inline-block;
}
div.pagination ul li .pagenav {
	margin: auto 10px;
}
div.pagination ul li.pagination-start, div.pagination ul li.pagination-prev {
	margin-right: 30px;
}
div.pagination ul li.pagination-end, div.pagination ul li.pagination-next {
	margin-left: 30px;
}

dd {
	margin-bottom: 15px;
}

input.inputbox {
	width: 450px;
	height: 20px;
	margin-right: 3px;
}

.navbar .hidden:parent {
	display: none;
}

.pagination-start a:before {
	content: "<< ";
}

.pagination-prev a:before {
	content: "< ";
}

.pagination-next a:after {
	content: " >";
}

.pagination-end a:after {
	content: " >>";
}

div.imgcaption {
	text-align: center;
	margin: 10px;
}

div.imgcaption img {
	margin: auto;
}

div.imgcaption p {
	text-align: left;
	width: 200px;
}

.left { float: left; }
.right { float: right; }

.products-list {
	padding: 10px;
}

.products-list ul {
	list-style-type: none;
}

.products-list ul, .products-list li {
	padding: 0px;
	margin: 0px;
}

.products-list li {
	margin: 10px 0px;
}

ul.weblinks {
    padding-left: 20px;
}